=begin
#Beanie ERP API

#An API specification for interacting with the Beanie ERP system

OpenAPI spec version: 0.8
Contact: dev@bean.ie
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require 'uri'

module Beanie
  class BankStatementApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new bank statement in the system
    # @param bank_statements Bank statement to add to the system
    # @param [Hash] opts the optional parameters
    # @return [BankStatement]
    def add_bank_statement(bank_statements, opts = {})
      data, _status_code, _headers = add_bank_statement_with_http_info(bank_statements, opts)
      data
    end

    # Creates a new bank statement in the system
    # @param bank_statements Bank statement to add to the system
    # @param [Hash] opts the optional parameters
    # @return [Array<(BankStatement, Fixnum, Hash)>] BankStatement data, response status code and response headers
    def add_bank_statement_with_http_info(bank_statements, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankStatementApi.add_bank_statement ...'
      end
      # verify the required parameter 'bank_statements' is set
      if @api_client.config.client_side_validation && bank_statements.nil?
        fail ArgumentError, "Missing the required parameter 'bank_statements' when calling BankStatementApi.add_bank_statement"
      end
      # resource path
      local_var_path = '/bank_statements'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bank_statements)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BankStatement')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankStatementApi#add_bank_statement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Find Bank statement by ID
    # Returns a single bank statement if the user has access
    # @param id ID of bank statement to fetch
    # @param [Hash] opts the optional parameters
    # @return [BankStatement]
    def find_bank_statement_by_id(id, opts = {})
      data, _status_code, _headers = find_bank_statement_by_id_with_http_info(id, opts)
      data
    end

    # Find Bank statement by ID
    # Returns a single bank statement if the user has access
    # @param id ID of bank statement to fetch
    # @param [Hash] opts the optional parameters
    # @return [Array<(BankStatement, Fixnum, Hash)>] BankStatement data, response status code and response headers
    def find_bank_statement_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankStatementApi.find_bank_statement_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BankStatementApi.find_bank_statement_by_id"
      end
      # resource path
      local_var_path = '/bank_statements/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BankStatement')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankStatementApi#find_bank_statement_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # All bank statement
    # Returns all bank statement from the system that the user has access to
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :tags tags to filter by
    # @option opts [Integer] :limit Maximum number of results to return
    # @return [Array<BankStatement>]
    def find_bank_statements(opts = {})
      data, _status_code, _headers = find_bank_statements_with_http_info(opts)
      data
    end

    # All bank statement
    # Returns all bank statement from the system that the user has access to
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :tags tags to filter by
    # @option opts [Integer] :limit Maximum number of results to return
    # @return [Array<(Array<BankStatement>, Fixnum, Hash)>] Array<BankStatement> data, response status code and response headers
    def find_bank_statements_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankStatementApi.find_bank_statements ...'
      end
      # resource path
      local_var_path = '/bank_statements'

      # query parameters
      query_params = {}
      query_params[:'tags'] = @api_client.build_collection_param(opts[:'tags'], :csv) if !opts[:'tags'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<BankStatement>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankStatementApi#find_bank_statements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
