=begin
#Beanie ERP API

#An API specification for interacting with the Beanie ERP system

OpenAPI spec version: 0.2
Contact: dev@bean.ie
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require 'uri'

module Beanie
  class BillableApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new billable record in the system
    # @param billables Billable record to add to the system
    # @param [Hash] opts the optional parameters
    # @return [Billable]
    def add_billable(billables, opts = {})
      data, _status_code, _headers = add_billable_with_http_info(billables, opts)
      data
    end

    # Creates a new billable record in the system
    # @param billables Billable record to add to the system
    # @param [Hash] opts the optional parameters
    # @return [Array<(Billable, Fixnum, Hash)>] Billable data, response status code and response headers
    def add_billable_with_http_info(billables, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillableApi.add_billable ...'
      end
      # verify the required parameter 'billables' is set
      if @api_client.config.client_side_validation && billables.nil?
        fail ArgumentError, "Missing the required parameter 'billables' when calling BillableApi.add_billable"
      end
      # resource path
      local_var_path = '/billables'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(billables)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Billable')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillableApi#add_billable\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Find Billable record by ID
    # Returns a single billable record if the user has access
    # @param id ID of billable record to fetch
    # @param [Hash] opts the optional parameters
    # @return [Billable]
    def find_billable_by_id(id, opts = {})
      data, _status_code, _headers = find_billable_by_id_with_http_info(id, opts)
      data
    end

    # Find Billable record by ID
    # Returns a single billable record if the user has access
    # @param id ID of billable record to fetch
    # @param [Hash] opts the optional parameters
    # @return [Array<(Billable, Fixnum, Hash)>] Billable data, response status code and response headers
    def find_billable_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillableApi.find_billable_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BillableApi.find_billable_by_id"
      end
      # resource path
      local_var_path = '/billables/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Billable')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillableApi#find_billable_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # All billable record
    # Returns all billable record from the system that the user has access to
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :tags tags to filter by
    # @option opts [Integer] :limit Maximum number of results to return
    # @return [Array<Billable>]
    def find_billables(opts = {})
      data, _status_code, _headers = find_billables_with_http_info(opts)
      data
    end

    # All billable record
    # Returns all billable record from the system that the user has access to
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :tags tags to filter by
    # @option opts [Integer] :limit Maximum number of results to return
    # @return [Array<(Array<Billable>, Fixnum, Hash)>] Array<Billable> data, response status code and response headers
    def find_billables_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillableApi.find_billables ...'
      end
      # resource path
      local_var_path = '/billables'

      # query parameters
      query_params = {}
      query_params[:'tags'] = @api_client.build_collection_param(opts[:'tags'], :csv) if !opts[:'tags'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Billable>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillableApi#find_billables\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
