=begin
#Beanie ERP API

#An API specification for interacting with the Beanie ERP system

OpenAPI spec version: 0.2
Contact: dev@bean.ie
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require 'uri'

module Beanie
  class CustomerAddressApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new customer address in the system
    # @param customer_addresses Customer address to add to the system
    # @param [Hash] opts the optional parameters
    # @return [CustomerAddress]
    def add_customer_address(customer_addresses, opts = {})
      data, _status_code, _headers = add_customer_address_with_http_info(customer_addresses, opts)
      data
    end

    # Creates a new customer address in the system
    # @param customer_addresses Customer address to add to the system
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerAddress, Fixnum, Hash)>] CustomerAddress data, response status code and response headers
    def add_customer_address_with_http_info(customer_addresses, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerAddressApi.add_customer_address ...'
      end
      # verify the required parameter 'customer_addresses' is set
      if @api_client.config.client_side_validation && customer_addresses.nil?
        fail ArgumentError, "Missing the required parameter 'customer_addresses' when calling CustomerAddressApi.add_customer_address"
      end
      # resource path
      local_var_path = '/customer_addresses'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(customer_addresses)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CustomerAddress')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerAddressApi#add_customer_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Find Customer address by ID
    # Returns a single customer address if the user has access
    # @param id ID of customer address to fetch
    # @param [Hash] opts the optional parameters
    # @return [CustomerAddress]
    def find_customer_address_by_id(id, opts = {})
      data, _status_code, _headers = find_customer_address_by_id_with_http_info(id, opts)
      data
    end

    # Find Customer address by ID
    # Returns a single customer address if the user has access
    # @param id ID of customer address to fetch
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerAddress, Fixnum, Hash)>] CustomerAddress data, response status code and response headers
    def find_customer_address_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerAddressApi.find_customer_address_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomerAddressApi.find_customer_address_by_id"
      end
      # resource path
      local_var_path = '/customer_addresses/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CustomerAddress')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerAddressApi#find_customer_address_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # All customer address
    # Returns all customer address from the system that the user has access to
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :tags tags to filter by
    # @option opts [Integer] :limit Maximum number of results to return
    # @return [Array<CustomerAddress>]
    def find_customer_addresses(opts = {})
      data, _status_code, _headers = find_customer_addresses_with_http_info(opts)
      data
    end

    # All customer address
    # Returns all customer address from the system that the user has access to
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :tags tags to filter by
    # @option opts [Integer] :limit Maximum number of results to return
    # @return [Array<(Array<CustomerAddress>, Fixnum, Hash)>] Array<CustomerAddress> data, response status code and response headers
    def find_customer_addresses_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerAddressApi.find_customer_addresses ...'
      end
      # resource path
      local_var_path = '/customer_addresses'

      # query parameters
      query_params = {}
      query_params[:'tags'] = @api_client.build_collection_param(opts[:'tags'], :csv) if !opts[:'tags'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<CustomerAddress>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerAddressApi#find_customer_addresses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
