=begin
#Beanie ERP API

#An API specification for interacting with the Beanie ERP system

OpenAPI spec version: 0.2
Contact: dev@bean.ie
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require 'uri'

module Beanie
  class ProductPriceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new product price in the system
    # @param product_prices Product price to add to the system
    # @param [Hash] opts the optional parameters
    # @return [ProductPrice]
    def add_product_price(product_prices, opts = {})
      data, _status_code, _headers = add_product_price_with_http_info(product_prices, opts)
      data
    end

    # Creates a new product price in the system
    # @param product_prices Product price to add to the system
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductPrice, Fixnum, Hash)>] ProductPrice data, response status code and response headers
    def add_product_price_with_http_info(product_prices, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductPriceApi.add_product_price ...'
      end
      # verify the required parameter 'product_prices' is set
      if @api_client.config.client_side_validation && product_prices.nil?
        fail ArgumentError, "Missing the required parameter 'product_prices' when calling ProductPriceApi.add_product_price"
      end
      # resource path
      local_var_path = '/product_prices'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(product_prices)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ProductPrice')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductPriceApi#add_product_price\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Find Product price by ID
    # Returns a single product price if the user has access
    # @param id ID of product price to fetch
    # @param [Hash] opts the optional parameters
    # @return [ProductPrice]
    def find_product_price_by_id(id, opts = {})
      data, _status_code, _headers = find_product_price_by_id_with_http_info(id, opts)
      data
    end

    # Find Product price by ID
    # Returns a single product price if the user has access
    # @param id ID of product price to fetch
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductPrice, Fixnum, Hash)>] ProductPrice data, response status code and response headers
    def find_product_price_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductPriceApi.find_product_price_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProductPriceApi.find_product_price_by_id"
      end
      # resource path
      local_var_path = '/product_prices/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ProductPrice')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductPriceApi#find_product_price_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # All product price
    # Returns all product price from the system that the user has access to
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :tags tags to filter by
    # @option opts [Integer] :limit Maximum number of results to return
    # @return [Array<ProductPrice>]
    def find_product_prices(opts = {})
      data, _status_code, _headers = find_product_prices_with_http_info(opts)
      data
    end

    # All product price
    # Returns all product price from the system that the user has access to
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :tags tags to filter by
    # @option opts [Integer] :limit Maximum number of results to return
    # @return [Array<(Array<ProductPrice>, Fixnum, Hash)>] Array<ProductPrice> data, response status code and response headers
    def find_product_prices_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductPriceApi.find_product_prices ...'
      end
      # resource path
      local_var_path = '/product_prices'

      # query parameters
      query_params = {}
      query_params[:'tags'] = @api_client.build_collection_param(opts[:'tags'], :csv) if !opts[:'tags'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ProductPrice>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductPriceApi#find_product_prices\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
