=begin
#Beanie ERP API

#An API specification for interacting with the Beanie ERP system

OpenAPI spec version: 0.2
Contact: dev@bean.ie
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require 'uri'

module Beanie
  class ProductVariantApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new product variant in the system
    # @param product_variants Product variant to add to the system
    # @param [Hash] opts the optional parameters
    # @return [ProductVariant]
    def add_product_variant(product_variants, opts = {})
      data, _status_code, _headers = add_product_variant_with_http_info(product_variants, opts)
      data
    end

    # Creates a new product variant in the system
    # @param product_variants Product variant to add to the system
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductVariant, Fixnum, Hash)>] ProductVariant data, response status code and response headers
    def add_product_variant_with_http_info(product_variants, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductVariantApi.add_product_variant ...'
      end
      # verify the required parameter 'product_variants' is set
      if @api_client.config.client_side_validation && product_variants.nil?
        fail ArgumentError, "Missing the required parameter 'product_variants' when calling ProductVariantApi.add_product_variant"
      end
      # resource path
      local_var_path = '/product_variants'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(product_variants)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ProductVariant')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductVariantApi#add_product_variant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Find Product variant by ID
    # Returns a single product variant if the user has access
    # @param id ID of product variant to fetch
    # @param [Hash] opts the optional parameters
    # @return [ProductVariant]
    def find_product_variant_by_id(id, opts = {})
      data, _status_code, _headers = find_product_variant_by_id_with_http_info(id, opts)
      data
    end

    # Find Product variant by ID
    # Returns a single product variant if the user has access
    # @param id ID of product variant to fetch
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductVariant, Fixnum, Hash)>] ProductVariant data, response status code and response headers
    def find_product_variant_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductVariantApi.find_product_variant_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProductVariantApi.find_product_variant_by_id"
      end
      # resource path
      local_var_path = '/product_variants/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ProductVariant')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductVariantApi#find_product_variant_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # All product variant
    # Returns all product variant from the system that the user has access to
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :tags tags to filter by
    # @option opts [Integer] :limit Maximum number of results to return
    # @return [Array<ProductVariant>]
    def find_product_variants(opts = {})
      data, _status_code, _headers = find_product_variants_with_http_info(opts)
      data
    end

    # All product variant
    # Returns all product variant from the system that the user has access to
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :tags tags to filter by
    # @option opts [Integer] :limit Maximum number of results to return
    # @return [Array<(Array<ProductVariant>, Fixnum, Hash)>] Array<ProductVariant> data, response status code and response headers
    def find_product_variants_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductVariantApi.find_product_variants ...'
      end
      # resource path
      local_var_path = '/product_variants'

      # query parameters
      query_params = {}
      query_params[:'tags'] = @api_client.build_collection_param(opts[:'tags'], :csv) if !opts[:'tags'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ProductVariant>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductVariantApi#find_product_variants\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
