=begin
#Beanie ERP API

#An API specification for interacting with the Beanie ERP system

OpenAPI spec version: 0.2
Contact: dev@bean.ie
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require 'uri'

module Beanie
  class ShippingCentreApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new shipping centre in the system
    # @param shipping_centres Shipping centre to add to the system
    # @param [Hash] opts the optional parameters
    # @return [ShippingCentre]
    def add_shipping_centre(shipping_centres, opts = {})
      data, _status_code, _headers = add_shipping_centre_with_http_info(shipping_centres, opts)
      data
    end

    # Creates a new shipping centre in the system
    # @param shipping_centres Shipping centre to add to the system
    # @param [Hash] opts the optional parameters
    # @return [Array<(ShippingCentre, Fixnum, Hash)>] ShippingCentre data, response status code and response headers
    def add_shipping_centre_with_http_info(shipping_centres, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShippingCentreApi.add_shipping_centre ...'
      end
      # verify the required parameter 'shipping_centres' is set
      if @api_client.config.client_side_validation && shipping_centres.nil?
        fail ArgumentError, "Missing the required parameter 'shipping_centres' when calling ShippingCentreApi.add_shipping_centre"
      end
      # resource path
      local_var_path = '/shipping_centres'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(shipping_centres)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ShippingCentre')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShippingCentreApi#add_shipping_centre\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Find Shipping centre by ID
    # Returns a single shipping centre if the user has access
    # @param id ID of shipping centre to fetch
    # @param [Hash] opts the optional parameters
    # @return [ShippingCentre]
    def find_shipping_centre_by_id(id, opts = {})
      data, _status_code, _headers = find_shipping_centre_by_id_with_http_info(id, opts)
      data
    end

    # Find Shipping centre by ID
    # Returns a single shipping centre if the user has access
    # @param id ID of shipping centre to fetch
    # @param [Hash] opts the optional parameters
    # @return [Array<(ShippingCentre, Fixnum, Hash)>] ShippingCentre data, response status code and response headers
    def find_shipping_centre_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShippingCentreApi.find_shipping_centre_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ShippingCentreApi.find_shipping_centre_by_id"
      end
      # resource path
      local_var_path = '/shipping_centres/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ShippingCentre')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShippingCentreApi#find_shipping_centre_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # All shipping centre
    # Returns all shipping centre from the system that the user has access to
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :tags tags to filter by
    # @option opts [Integer] :limit Maximum number of results to return
    # @return [Array<ShippingCentre>]
    def find_shipping_centres(opts = {})
      data, _status_code, _headers = find_shipping_centres_with_http_info(opts)
      data
    end

    # All shipping centre
    # Returns all shipping centre from the system that the user has access to
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :tags tags to filter by
    # @option opts [Integer] :limit Maximum number of results to return
    # @return [Array<(Array<ShippingCentre>, Fixnum, Hash)>] Array<ShippingCentre> data, response status code and response headers
    def find_shipping_centres_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShippingCentreApi.find_shipping_centres ...'
      end
      # resource path
      local_var_path = '/shipping_centres'

      # query parameters
      query_params = {}
      query_params[:'tags'] = @api_client.build_collection_param(opts[:'tags'], :csv) if !opts[:'tags'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ShippingCentre>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShippingCentreApi#find_shipping_centres\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
