=begin
#Beanie ERP API

#An API specification for interacting with the Beanie ERP system

OpenAPI spec version: 0.2
Contact: dev@bean.ie
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require 'uri'

module Beanie
  class StockImageApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new stock image in the system
    # @param stock_images Stock image to add to the system
    # @param [Hash] opts the optional parameters
    # @return [StockImage]
    def add_stock_image(stock_images, opts = {})
      data, _status_code, _headers = add_stock_image_with_http_info(stock_images, opts)
      data
    end

    # Creates a new stock image in the system
    # @param stock_images Stock image to add to the system
    # @param [Hash] opts the optional parameters
    # @return [Array<(StockImage, Fixnum, Hash)>] StockImage data, response status code and response headers
    def add_stock_image_with_http_info(stock_images, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockImageApi.add_stock_image ...'
      end
      # verify the required parameter 'stock_images' is set
      if @api_client.config.client_side_validation && stock_images.nil?
        fail ArgumentError, "Missing the required parameter 'stock_images' when calling StockImageApi.add_stock_image"
      end
      # resource path
      local_var_path = '/stock_images'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(stock_images)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'StockImage')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockImageApi#add_stock_image\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Find Stock image by ID
    # Returns a single stock image if the user has access
    # @param id ID of stock image to fetch
    # @param [Hash] opts the optional parameters
    # @return [StockImage]
    def find_stock_image_by_id(id, opts = {})
      data, _status_code, _headers = find_stock_image_by_id_with_http_info(id, opts)
      data
    end

    # Find Stock image by ID
    # Returns a single stock image if the user has access
    # @param id ID of stock image to fetch
    # @param [Hash] opts the optional parameters
    # @return [Array<(StockImage, Fixnum, Hash)>] StockImage data, response status code and response headers
    def find_stock_image_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockImageApi.find_stock_image_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StockImageApi.find_stock_image_by_id"
      end
      # resource path
      local_var_path = '/stock_images/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'StockImage')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockImageApi#find_stock_image_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # All stock image
    # Returns all stock image from the system that the user has access to
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :tags tags to filter by
    # @option opts [Integer] :limit Maximum number of results to return
    # @return [Array<StockImage>]
    def find_stock_images(opts = {})
      data, _status_code, _headers = find_stock_images_with_http_info(opts)
      data
    end

    # All stock image
    # Returns all stock image from the system that the user has access to
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :tags tags to filter by
    # @option opts [Integer] :limit Maximum number of results to return
    # @return [Array<(Array<StockImage>, Fixnum, Hash)>] Array<StockImage> data, response status code and response headers
    def find_stock_images_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockImageApi.find_stock_images ...'
      end
      # resource path
      local_var_path = '/stock_images'

      # query parameters
      query_params = {}
      query_params[:'tags'] = @api_client.build_collection_param(opts[:'tags'], :csv) if !opts[:'tags'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<StockImage>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockImageApi#find_stock_images\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
