=begin
#Beanie ERP API

#An API specification for interacting with the Beanie ERP system

OpenAPI spec version: 0.2
Contact: dev@bean.ie
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require 'uri'

module Beanie
  class SupplierAddressApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new supplier address in the system
    # @param supplier_addresses Supplier address to add to the system
    # @param [Hash] opts the optional parameters
    # @return [SupplierAddress]
    def add_supplier_address(supplier_addresses, opts = {})
      data, _status_code, _headers = add_supplier_address_with_http_info(supplier_addresses, opts)
      data
    end

    # Creates a new supplier address in the system
    # @param supplier_addresses Supplier address to add to the system
    # @param [Hash] opts the optional parameters
    # @return [Array<(SupplierAddress, Fixnum, Hash)>] SupplierAddress data, response status code and response headers
    def add_supplier_address_with_http_info(supplier_addresses, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupplierAddressApi.add_supplier_address ...'
      end
      # verify the required parameter 'supplier_addresses' is set
      if @api_client.config.client_side_validation && supplier_addresses.nil?
        fail ArgumentError, "Missing the required parameter 'supplier_addresses' when calling SupplierAddressApi.add_supplier_address"
      end
      # resource path
      local_var_path = '/supplier_addresses'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(supplier_addresses)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SupplierAddress')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupplierAddressApi#add_supplier_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Find Supplier address by ID
    # Returns a single supplier address if the user has access
    # @param id ID of supplier address to fetch
    # @param [Hash] opts the optional parameters
    # @return [SupplierAddress]
    def find_supplier_address_by_id(id, opts = {})
      data, _status_code, _headers = find_supplier_address_by_id_with_http_info(id, opts)
      data
    end

    # Find Supplier address by ID
    # Returns a single supplier address if the user has access
    # @param id ID of supplier address to fetch
    # @param [Hash] opts the optional parameters
    # @return [Array<(SupplierAddress, Fixnum, Hash)>] SupplierAddress data, response status code and response headers
    def find_supplier_address_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupplierAddressApi.find_supplier_address_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SupplierAddressApi.find_supplier_address_by_id"
      end
      # resource path
      local_var_path = '/supplier_addresses/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SupplierAddress')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupplierAddressApi#find_supplier_address_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # All supplier address
    # Returns all supplier address from the system that the user has access to
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :tags tags to filter by
    # @option opts [Integer] :limit Maximum number of results to return
    # @return [Array<SupplierAddress>]
    def find_supplier_addresses(opts = {})
      data, _status_code, _headers = find_supplier_addresses_with_http_info(opts)
      data
    end

    # All supplier address
    # Returns all supplier address from the system that the user has access to
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :tags tags to filter by
    # @option opts [Integer] :limit Maximum number of results to return
    # @return [Array<(Array<SupplierAddress>, Fixnum, Hash)>] Array<SupplierAddress> data, response status code and response headers
    def find_supplier_addresses_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupplierAddressApi.find_supplier_addresses ...'
      end
      # resource path
      local_var_path = '/supplier_addresses'

      # query parameters
      query_params = {}
      query_params[:'tags'] = @api_client.build_collection_param(opts[:'tags'], :csv) if !opts[:'tags'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<SupplierAddress>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupplierAddressApi#find_supplier_addresses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
