=begin
#Beanie ERP API

#An API specification for interacting with the Beanie ERP system

OpenAPI spec version: 0.8
Contact: dev@bean.ie
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require 'uri'

module Beanie
  class VatRecordApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new vat record in the system
    # @param vat_records VAT record to add to the system
    # @param [Hash] opts the optional parameters
    # @return [VatRecord]
    def add_vat_record(vat_records, opts = {})
      data, _status_code, _headers = add_vat_record_with_http_info(vat_records, opts)
      data
    end

    # Creates a new vat record in the system
    # @param vat_records VAT record to add to the system
    # @param [Hash] opts the optional parameters
    # @return [Array<(VatRecord, Fixnum, Hash)>] VatRecord data, response status code and response headers
    def add_vat_record_with_http_info(vat_records, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatRecordApi.add_vat_record ...'
      end
      # verify the required parameter 'vat_records' is set
      if @api_client.config.client_side_validation && vat_records.nil?
        fail ArgumentError, "Missing the required parameter 'vat_records' when calling VatRecordApi.add_vat_record"
      end
      # resource path
      local_var_path = '/vat_records'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(vat_records)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'VatRecord')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatRecordApi#add_vat_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Find VAT record by ID
    # Returns a single vat record if the user has access
    # @param id ID of vat record to fetch
    # @param [Hash] opts the optional parameters
    # @return [VatRecord]
    def find_vat_record_by_id(id, opts = {})
      data, _status_code, _headers = find_vat_record_by_id_with_http_info(id, opts)
      data
    end

    # Find VAT record by ID
    # Returns a single vat record if the user has access
    # @param id ID of vat record to fetch
    # @param [Hash] opts the optional parameters
    # @return [Array<(VatRecord, Fixnum, Hash)>] VatRecord data, response status code and response headers
    def find_vat_record_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatRecordApi.find_vat_record_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VatRecordApi.find_vat_record_by_id"
      end
      # resource path
      local_var_path = '/vat_records/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'VatRecord')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatRecordApi#find_vat_record_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # All vat record
    # Returns all vat record from the system that the user has access to
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :tags tags to filter by
    # @option opts [Integer] :limit Maximum number of results to return
    # @return [Array<VatRecord>]
    def find_vat_records(opts = {})
      data, _status_code, _headers = find_vat_records_with_http_info(opts)
      data
    end

    # All vat record
    # Returns all vat record from the system that the user has access to
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :tags tags to filter by
    # @option opts [Integer] :limit Maximum number of results to return
    # @return [Array<(Array<VatRecord>, Fixnum, Hash)>] Array<VatRecord> data, response status code and response headers
    def find_vat_records_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatRecordApi.find_vat_records ...'
      end
      # resource path
      local_var_path = '/vat_records'

      # query parameters
      query_params = {}
      query_params[:'tags'] = @api_client.build_collection_param(opts[:'tags'], :csv) if !opts[:'tags'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<VatRecord>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatRecordApi#find_vat_records\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
